category => 3
name => 2 Horizontal
color_0 => rgb(255, 0, 0)
color_1 => rgb(0, 255, 0)

00000000000000000000000000000000
0------------------------------0
0------------------------------0
0------------------------------0
0------------------------------0
0------------------------------0
0------------------------------0
0------------------------------0
0------------------------------0
0------------------------------0
1------------------------------1
1------------------------------1
1------------------------------1
1------------------------------1
1------------------------------1
1------------------------------1
1------------------------------1
1------------------------------1
11111111111111111111111111111111