category => 3
name => 2 Vertical
color_0 => rgb(255, 0, 0)
color_1 => rgb(0, 255, 0)

00000000000000001111111111111111
0------------------------------1
0------------------------------1
0------------------------------1
0------------------------------1
0------------------------------1
0------------------------------1
0------------------------------1
0------------------------------1
0------------------------------1
0------------------------------1
0------------------------------1
0------------------------------1
0------------------------------1
0------------------------------1
0------------------------------1
0------------------------------1
0------------------------------1
00000000000000001111111111111111