category => 3
name => 3 Horizontal
color_0 => rgb(255, 0, 0)
color_1 => rgb(0, 255, 0)
color_2 => rgb(0, 0, 255)

00000000000000000000000000000000
0------------------------------0
0------------------------------0
0------------------------------0
1------------------------------1
1------------------------------1
1------------------------------1
1------------------------------1
1------------------------------1
1------------------------------1
1------------------------------1
1------------------------------1
1------------------------------1
1------------------------------1
1------------------------------1
2------------------------------2
2------------------------------2
2------------------------------2
22222222222222222222222222222222