category => 3
name => 3 Vertical
color_0 => rgb(255, 0, 0)
color_1 => rgb(0, 255, 0)
color_2 => rgb(0, 0, 255)

00000000111111111111111122222222
0------------------------------2
0------------------------------2
0------------------------------2
0------------------------------2
0------------------------------2
0------------------------------2
0------------------------------2
0------------------------------2
0------------------------------2
0------------------------------2
0------------------------------2
0------------------------------2
0------------------------------2
0------------------------------2
0------------------------------2
0------------------------------2
0------------------------------2
00000000111111111111111122222222