category => 3
name => 4 Quadrants
color_0 => rgb(255, 0, 0)
color_1 => rgb(0, 255, 0)
color_2 => rgb(0, 0, 255)
color_3 => rgb(255, 0, 255)

00000000000000001111111111111111
0------------------------------1
0------------------------------1
0------------------------------1
0------------------------------1
0------------------------------1
0------------------------------1
0------------------------------1
0------------------------------1
0------------------------------1
3------------------------------2
3------------------------------2
3------------------------------2
3------------------------------2
3------------------------------2
3------------------------------2
3------------------------------2
3------------------------------2
33333333333333332222222222222222