category => 5
name => 'Merica!
color_0 => rgb(0, 0, 255) // blue
color_1 => rgb(255, 255, 255) // white
color_2 => rgb(255, 0, 0) // red

0000000000000000112211221122112
0------------------------------2
0------------------------------2
0------------------------------1
0------------------------------1
0------------------------------2
0------------------------------2
0------------------------------1
0------------------------------1
0------------------------------2
1------------------------------2
1------------------------------1
2------------------------------1
2------------------------------2
1------------------------------2
1------------------------------1
2------------------------------1
2------------------------------2
11221112211221122112211221122112