category => 3
name => Solid
color_0 => rgb(255, 0, 0)

000000000000000000000000000000
0----------------------------0
0----------------------------0
0----------------------------0
0----------------------------0
0----------------------------0
0----------------------------0
0----------------------------0
0----------------------------0
0----------------------------0
0----------------------------0
0----------------------------0
0----------------------------0
0----------------------------0
0----------------------------0
0----------------------------0
0----------------------------0
0----------------------------0
000000000000000000000000000000